.login-wrapper {
    background-color: #FBF6F2; 
    width: 100%;
    min-height: 100vh;
  
    .card {
      border: none;
      border-radius: 20px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    }
  }